.view-receipt {
    font-size: 14px;
    color: #1D3557;
    padding: 8px 24px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.view-receipt:hover {
    color: #fff;
    background-color: #3C6E71;
}

th#Realname, th#Surname, th#Email{
    width: 250px;
}

th#Date-time {
    text-align: center;
    width: 250px;
}

th#Total {
    text-align: center;
    width: 200px;
}

.Total{
    text-align: center
}

.Total::after {
    content: ' THB-.';
}

.modal {
    padding-top: 5%;
}

.modalHeader {
    justify-content: center;
    border: none;
    background-color: #ECFAFF;
}

.modalTitle {
    padding-top: 15px;
    font-weight: bold;
    color: #1D3557;
    background-color: #ECFAFF;
}

.modalBody {
    padding: 30px 40px 40px 40px;
    font-size: 18px;
    background-color: #ECFAFF;
}

.modalBody .top-section {
    padding-bottom: 15px;
    border-bottom: 2px dotted #827E7E;
}

.modalBody .top-section .first{
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.modalBody .top-section .first #transaction-id{
    color: #827E7E;
}

.modalBody .top-section .second{
    color: #827E7E;
}

.modalBody .top-section .second .detail-title {
    font-size: 18px;
}

.modalBody .top-section .second .detail {
    font-size: 16px;
}

.modalBody .body-section {
    font-size: 16px;
    margin-bottom: 100px;
}

.modalBody .body-section table tr{
    border: none;
    background-color: #ECFAFF !important;
    color: #1D3557;
}

.modalBody .body-section table th{
    padding: 15px 10px;
    text-align: center;
}

.modalBody .body-section table th#number{
    text-align: start;
}

.modalBody .body-section table td{
    padding: 5px 10px;
    font-size: 15px;
}

.modalBody .body-section table td.price{
    text-align: end;
}

.modalBody .body-section table td.number{
    text-align: start;
}

.modalBody .body-section table tr.total td{
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.modalFooter {
    border: 1px #827E7E;
    padding: 0 80px 20px 80px;
    justify-content: center;
    background-color: #ECFAFF;
}

.modalButtonPrimary, .modalButtonSecondary {
    height: 50px;
    width: 150px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.modalButtonPrimary {
    background-color: #3C6E71;
}

.modalButtonSecondary {
    background-color: #F25B52;
}

.modalButtonPrimary:hover {
    background-color: #2f5658;
}

.modalButtonSecondary:hover {
    background-color: #be4a44;
}
