.receipt-accommodation .view-receipt {
    font-size: 14px;
    color: #1D3557;
    padding: 8px 24px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.receipt-accommodation .view-receipt:hover {
    color: #fff;
    background-color: #3C6E71;
}

#Realname {
    width: 200px;
}

#Surname {
    width: 240px;
}

#Email {
    width: 240px;
}

#Date-time {
    text-align: center;
    width: 200px;
}

#Total {
    text-align: center;
    width: 200px;
}

.receipt-accommodation .modal {
    padding-top: 15%;
}

.receipt-accommodation .modalHeader {
    justify-content: center;
    border: none;
}

.receipt-accommodation .modalTitle {
    padding-top: 15px;
    font-weight: bold;
    color: #1D3557;
}

.receipt-accommodation .modalBody {
    padding: 30px 50px 40px 50px;
    font-size: 18px;
}

.receipt-accommodation .modalFooter {
    border: none;
    padding: 0 80px 20px 80px;
    justify-content: space-between;
}

.receipt-accommodation .modalButtonPrimary, .modalButtonSecondary {
    height: 50px;
    width: 150px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.receipt-accommodation .modalButtonPrimary {
    background-color: #3C6E71;
}

.receipt-accommodation .modalButtonSecondary {
    background-color: #F25B52;
}

.receipt-accommodation .modalButtonPrimary:hover {
    background-color: #2f5658;
}

.receipt-accommodation .modalButtonSecondary:hover {
    background-color: #be4a44;
}
