#Info {
    flex: 33%
}

#Decline {
    flex: 33%
}

#Accept {
    flex: 33%;
}

#Info, #Decline, #Accept{
    cursor: pointer !important;
}

#Info:hover, #Decline:hover, #Accept:hover{
    cursor: pointer !important;
    color: #3C6E71;
}

#Realname {
    width: 250px;
}

#Surname {
    width: 250px;
}

#Email {
    width: 300px;
}